.about {
  max-width: 1166px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: $tablets-max) {
    margin: 0 50px;
  }

  @media (max-width: $mobiles-max) {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
  }
}

.about h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  margin: 0 auto;
  padding: 150px 0 22px 18px;

  @media (max-width: $tablets-max) {
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #1f1f1f;
    padding: 53px 0 22px;
  }
}

.about__item {
  max-width: 250px;

  @media (max-width: $tablets-max) {
    margin-bottom: 32px;
    flex: 0 0 50%;
    max-width: 50%;

    &:nth-child(even) {
      padding-right: 90px;
      padding-left: 0;
    }

    &:nth-child(odd) {
      padding-left: 90px;
      padding-right: 0;
    }
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 23px;
    max-width: 100%;

    &:nth-child(even) {
      padding: 0;
    }

    &:nth-child(odd) {
      padding: 0;
    }

    &--delivery {
      margin-bottom: 50px;
    }

    &--choice {
      margin-bottom: 50px;
    }
  }
}

.about__list {
  @include list;
  display: flex;
  justify-content: space-between;
  padding: 0 8px 152px 4px;

  @media (max-width: $tablets-max) {
    flex-wrap: wrap;
    padding: 0 7px 38px 5px;
    margin-left: -56px;
    margin-right: -56px;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    align-items: center;
    padding: 0 7px 60px 5px;
  }
}

.about__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;
  color: #0ad9c6;

  @media (max-width: $tablets-max) {
    width: 263px;
    margin: 0 auto;
  }
}

.about__number p {
  margin: 0;
  padding: 26px 0 0;

  @media (max-width: $tablets-max) {
    padding: 8px 0 2px;
  }
}

.about__text {
  padding: 15px 0 0;

  @media (max-width: $tablets-max) {
    width: 263px;
    margin: 0 auto;
  }

  @media (max-width: $mobiles-max) {
    padding: 6px 0 0;

    &--range {
      padding: 15px 0 0;
    }
  }
}

.about__text p {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;

  @media (max-width: $mobiles-max) {
    font-size: 18px;
  }
}
