.about {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.about h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
}

.about__item {
  max-width: 236px;
}

.about__list {
  @include list;
  display: flex;
  justify-content: space-between;
}

.about__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;
  color: #0ad9c6;
}

.about__text {
  text-align: center;
}
