.button {
  border: none;
  cursor: pointer;
  background-color: #0ad9c6;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  outline: none;

  &--submit {
    min-height: 53px;
    border-radius: 6px;
    letter-spacing: 0.4px;
    width: 99.4%;

    @media (max-width: $tablets-max) {
      letter-spacing: 0.1px;
      width: 100%;
      padding-left: 11px;
    }

    @media (max-width: $mobiles-max) {
      padding-top: 5px;
      padding-left: 2px;
    }
  }

  &--play {
    position: absolute;
    content: "";
    background-color: transparent;
    background-image: url("../img/play.svg");
    width: 65px;
    height: 65px;
    top: 44.5%;
    left: 46.5%;
    background-repeat: no-repeat;

    @media (max-width: $tablets-max) {
      background-image: url("../img/play-tablet.svg");
      width: 90.36px;
      height: 90.36px;
      top: 32.4%;
      left: 41%;
    }

    @media (max-width: $mobiles-max) {
      background-image: url("../img/play.svg");
      width: 65px;
      height: 65px;
      top: 29.4%;
      left: 39%;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
