.button {
  border: none;
  cursor: pointer;
  background-color: #0ad9c6;
  border-radius: 6px;
  width: 327px;
  min-height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
