.general {
  @media (max-width: $tablets-max) {
    padding-top: 21px;

    &--faded {
      background-color: rgba(0, 0, 0, 0.8);

      .general__inner p,
      .general__inner h1 {
        color: #000000;
      }

      .general__icon {
        display: none;
      }
    }
  }

  @media (max-width: $mobiles-max) {
    padding-top: 0;
  }
}

.general__inner {
  max-width: 470px;
  display: flex;
  padding: 242px 0 220px;

  @media (max-width: $tablets-max) {
    margin: 0 auto;
    max-width: 480px;
    padding: 63px 0 63px;
  }

  @media (max-width: $mobiles-max) {
    max-width: 288px;
    padding: 59px 0 52px;
  }
}

.general__info {
  padding: 15px 50px 0 8px;

  @media (max-width: $tablets-max) {
    padding: 0;
  }

  @media (min-width: $desktops) {
    max-height: 302.27px;
  }
}

.general__icon-wrapper {
  width: 67.6px;
  height: 20.28px;
  position: relative;
}

.general__icon {
  @media (max-width: $tablets-max) {
    position: absolute;
    left: -123px;
    top: -60px;
  }

  @media (max-width: $mobiles-max) {
    left: 0;
    top: -33px;
  }
}

.general__inner h1 {
  font-weight: bold;
  color: #ffffff;
  font-size: 46px;
  line-height: 64px;
  margin: 30px 0 25px;

  @media (max-width: $tablets-max) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin: 31px 0 18px;
  }

  @media (max-width: $mobiles-max) {
    margin: 42px 0 18px;
  }
}

.general__inner p {
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
  }
}
