.header {
  background-color: #000000;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
