.no-webp .header {
  background-image: url("../img/bike-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bike-desktop@2x.jpg");
  }


  @media (max-width: $tablets-max) {
    background-image: url("../img/bike-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/bike-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.webp .header {
  background-image: url("../img/bike-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bike-desktop@2x.webp");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/bike-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-tablet@2x.webp");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/bike-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-mobile@2x.webp");
    }
  }
}

.header {
  background-color: #000000;
  max-width: 1920px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bike-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bike-desktop@2x.jpg");
  }

  @media (max-width: $tablets-max) {
    background-position: center center;
    background-image: url("../img/bike-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobiles-max) {
    background-position: center center;
    background-image: url("../img/bike-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.header__inner {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
