.location {
  // padding: 248px 242px 0;
  padding: 248px 0 0;
  margin: 0 auto;
}

.location h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  width: 240px;
  margin: 0 auto;
}


.location p {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  width: 555px;
  margin: 0 auto;
  padding: 28px 19px 40px 0;
}

.location__map {
  width: 957px;
  height: 530px;
  margin: 0 auto;
}
