.main-nav {
  padding: 21px 34px 0 32px;

  @media (min-width: $desktops) {
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      width: 97%;
      left: 13px;
      top: 61px;
    }
  }

  @media (max-width: $tablets-max) {
    padding: 0;
  }
}

/*кнопка*/
.main-nav__toggle {
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #0ad9c6;
  cursor: pointer;
  border: none;

  @media (min-width: $desktops) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.main-nav__toggle span {
  font-size: 0;
}

/*закрытое состояние*/
.main-nav--closed .main-nav__toggle span {
  display: block;
  width: 22.5px;
  height: 1px;
  background-color: #000000;
  border-radius: 1px;
  transform: translateX(7px);
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 14px;
  width: 22.5px;
  height: 1px;
  background-color: #000000;
  border-radius: 1px;
}

.main-nav--closed .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 14px;
  width: 22.5px;
  height: 1px;
  background-color: #000000;
  border-radius: 1px;
}

/*открытое состояние*/
.main-nav--opened .main-nav__toggle {
  background-color: #ffffff;
  z-index: 3;
}

.main-nav--opened .main-nav__toggle span {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 11px;
    width: 29px;
    height: 1px;
    border: 1px solid rgba(20, 21, 23, 0.2);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__item {
  @media (max-width: $tablets-max) {
    position: relative;
    background-color: #f6f6f6;
    height: 60px;
    padding: 15px 0 0 16px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/arrow.svg");
      height: 12px;
      width: 7.4px;
      top: 23px;
      right: 25px;
      background-repeat: no-repeat;
    }
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $tablets-max) {
    padding-top: 100px;
    background-color: #ffffff;
    position: absolute;
  }
}

/*БЕЗ JS*/
.main-nav--nojs .main-nav__item {
  @media (max-width: $tablets-max) {
    position: relative;
    background-color: #f6f6f6;
    height: 60px;
    padding: 15px 0 0 16px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/arrow.svg");
      height: 12px;
      width: 7.4px;
      top: 23px;
      right: 25px;
      background-repeat: no-repeat;
    }
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablets-max) {
    padding-top: 100px;
    background-color: #ffffff;
  }
}

.main-nav--nojs .main-nav__toggle {
  background-color: #ffffff;
  z-index: 3;
}

.main-nav--nojs .main-nav__toggle span {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 11px;
    width: 29px;
    height: 1px;
    border: 1px solid rgba(20, 21, 23, 0.2);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include list;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablets-max) {
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

@media (max-width: $tablets-max) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

.main-nav__item {
  position: relative;

  @media (min-width: $desktops) {
    padding-right: 133px;

    &:nth-child(4n) {
      padding-right: 0;
    }
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.main-nav__link {
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  opacity: 0.7;
  width: 100%;
  display: block;
  height: 100%;

  @media (min-width: $desktops) {
    letter-spacing: -0.3px;
  }

  @media (max-width: $tablets-max) {
    color: #48494d;
    font-size: 20px;
    line-height: 28px;
  }
}
