.video {
  background-color: #ffffff;
  height: 706px;

  @media (max-width: $tablets-max) {
    height: 413px;
  }

  @media (max-width: $mobiles-max) {
    height: 384px;
  }
}

.video__inner {
  padding: 121px 0 0;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: $tablets-max) {
    padding: 70px 0 0;
  }

  @media (max-width: $tablets-max) {
    padding: 0 15px 0 12px;
  }
}

.video__inner h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  transform: translateX(-4px);

  @media (max-width: $tablets-max) {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 70px 0 0;
    transform: none;
  }

  @media (max-width: $mobiles-max) {
    text-align: center;
    padding: 84px 0 0;
    transform: translateX(-4px);
  }
}

.video__inner p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #ffffff;
  opacity: 0.7;
  max-width: 410px;
  margin: 0 auto;
  padding-top: 19px;

  @media (max-width: $tablets-max) {
    max-width: 430px;
  }
}

.webp .video__snippet {
  background-image: url("../img/video-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-desktop@2x.webp");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/video-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.webp");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/video-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.webp");
    }
  }
}

.no-webp .video__snippet {
  background-image: url("../img/video-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/video-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}

.video__snippet {
  background-color: #000000;
  transform: translateY(55px);
  text-align: center;
  position: relative;
  background-image: url("../img/video-desktop@1x.jpg");
  background-repeat: no-repeat;
  width: 929px;
  min-height: 522px;
  background-size: cover;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/video-tablet@1x.jpg");
    transform: translateY(42px);
    width: 503px;
    min-height: 282px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/video-mobile@1x.jpg");
    transform: translateY(54px);
    width: 288px;
    min-height: 161.66px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}
