/*general*/
$mobiles: 320px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-max: 1023px;
$desktops: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*colors*/
$main-background: #283645;
$dark-background: #1d2631;
